@media screen and (max-width: 768px) {
  #main {
    padding-bottom: 5em;
  }
}

.main-box {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .main-box {
    padding-bottom: 40px;
  }
}

section {
  padding: 60px 0;
}

section.backnumber_wrapper {
  padding: 35px 0;
}

section + section {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 0;
  }
  section.backnumber_wrapper {
    padding: 20px 0;
  }
  section + section {
    margin-top: 40px;
  }
}

#main .main-box {
  padding-top: 70px;
}

@media screen and (max-width: 768px) {
  #main .main-box {
    padding: 35px 12px;
  }
}

.backnumber_wrapper {
  margin-bottom: 30px;
}

.backnumber_wrapper ul li {
  float: left;
  width: 20%;
  text-align: center;
  line-height: 27px;
  border-right: solid 1px #fce5e8;
}

.backnumber_wrapper ul li:nth-child(5n) {
  border: none;
}

@media screen and (max-width: 768px) {
  .backnumber_wrapper ul li {
    float: left;
    width: 33.333333%;
    text-align: center;
    line-height: 27px;
    border-right: solid 1px #fce5e8;
  }
  .backnumber_wrapper ul li:nth-child(5n) {
    border-right: solid 1px #fce5e8;
  }
  .backnumber_wrapper ul li:nth-child(3n) {
    border-right: none;
  }
}

.article {
  background: #fff;
  margin: 0 70px;
  padding: 36px 40px 28px;
  position: relative;
  font-size: 1.6rem;
  min-height: 430px;
}

.article + .article {
  margin-top: 30px;
}

.article h2 {
  color: #e9537d;
  font-size: 2.2rem;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 28px;
}

.article h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 44px;
  height: 2px;
  background: #e9537d;
}

.article .thumbnail-box {
  /*
    position: absolute;
    top: 122px;
    right: -70px;
    */
  float: right;
  margin-right: -109px;
}

.article .thumbnail-box .thumbnail {
  float: left;
}

.article .thumbnail-box .thumbnail a img {
  border: solid 1px #e6e6e6;
  width: 198px;
}

.article .thumbnail-box.thumnail-logo {
  pointer-events: none;
}

.article .excerpt {
  line-height: 1.5;
}

.article .date {
  position: absolute;
  bottom: 28px;
  right: 40px;
  color: #e9537d;
}

@media screen and (max-width: 768px) {
  .article {
    margin: 0;
    padding: 20px 20px 10px 20px;
    font-size: 1.4rem;
    min-height: inherit;
    padding-bottom: 3em;
  }
  .article h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .article h2:after {
    width: 22px;
    height: 1px;
  }
  .article .thumbnail-box {
    float: none;
    margin-right: inherit;
    margin-bottom: 20px;
  }
  .article .thumbnail-box .thumbnail {
    width: 50%;
  }
  .article .thumbnail-box .thumbnail a img {
    width: 100%;
  }
  .article .date {
    right: 20px;
    bottom: 10px;
  }
}

.detail__btn {
  margin-top: 30px;
  margin-bottom: 45px;
  /*
  text-align: center;
   */
}

.detail__btn a {
  padding-left: 35px;
  position: relative;
  border-bottom: solid 2px #e9537d;
  color: #e9537d;
}

.detail__btn a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 1px;
  background: #e9537d;
}

.detail__btn a:after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background: #e9537d;
  margin-top: -3px;
}

@media screen and (max-width: 768px) {
  .detail__btn {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
