.copy {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.25;
  padding: 90px 0 50px;
}

@media screen and (max-width: 768px) {
  .copy {
    font-size: 1.2rem;
    line-height: 2.0;
    padding: 45px 0 25px;
  }
}

.main-box {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  #main .main-box {
    padding-bottom: 40px;
  }
  #main .main-box.search-list {
    padding-bottom: 40px;
  }
}

.map {
  text-align: center;
  font-size: 1.6rem;
}

.map .map-area {
  width: 51.851851%;
  max-width: 560px;
  margin: 0 auto;
}

.map h2 {
  margin-bottom: 35px;
}

.map form {
  background: #f8f6f6;
  margin-bottom: 25px;
}

.map form .btn {
  display: inline;
}

.map form input[type="text"] {
  width: 70.428571%;
  max-width: 400px;
  height: 48px;
  background: #f8f6f6;
  padding: 0 10px;
}

.map form [type="submit"] {
  width: 28.571428%;
  max-width: 160px;
  line-height: 48px;
  /*
            background: #e9537d;
             */
  color: #fff;
  font-size: 1.6rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.map form [type="submit"]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ea537e;
  top: 0;
  left: 0;
  z-index: -1;
}

.map form [type="submit"] i {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

.map form [type="submit"] i:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}

.map form [type="submit"] i:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background: #fff;
  margin-top: -3px;
}

.map form [type="submit"]:hover {
  color: #ea537e;
  -webkit-box-shadow: 0px 0px 0px 1px #ea537e inset;
          box-shadow: 0px 0px 0px 1px #ea537e inset;
}

.map form [type="submit"]:hover:after {
  width: 0;
}

.map form [type="submit"]:hover i {
  right: -5px;
}

.map form [type="submit"]:hover i:before, .map form [type="submit"]:hover i:after {
  background: #ea537e;
}

@media screen and (max-width: 768px) {
  .map {
    font-size: 1.2rem;
  }
  .map .map-area {
    width: 90%;
    max-width: none;
    margin: 0 auto;
  }
  .map form input[type="text"] {
    width: 70%;
    max-width: none;
  }
  .map form [type="submit"] {
    font-size: 1.4rem;
    padding-right: 3em;
  }
}

.address h2 {
  text-align: center;
  font-size: 3.2rem;
}

.address .block {
  padding: 0 11% 0 19%;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Safari */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address .block dl {
  /*
            width: 185px;
            float: left;
            */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 50px;
}

.address .block dl dt {
  font-size: 1.6rem;
  font-weight: bold;
}

.address .block dl dd {
  margin-top: 20px;
}

.address .block dl dd a {
  padding-left: 35px;
  position: relative;
  border-bottom: solid 2px #e9537d;
  color: #e9537d;
}

.address .block dl dd a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 1px;
  background: #e9537d;
}

.address .block dl dd a:after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background: #e9537d;
  margin-top: -3px;
}

@media screen and (max-width: 768px) {
  .address h2 {
    font-size: 2.0rem;
  }
  .address .block {
    display: block;
    padding: 0 0 0 16%;
  }
  .address .block dl {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    float: left;
    margin-top: 30px;
  }
  .address .block dl:nth-child(odd) {
    clear: both;
  }
}

section {
  padding: 60px 0;
}

section#main {
  padding-bottom: 120px;
}

section + section {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 0;
  }
  section#main {
    padding-bottom: 70px;
  }
  section + section {
    margin-top: 40px;
  }
}

.search {
  padding: 60px 55px;
  position: relative;
}

.search h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.search .back-btn {
  position: absolute;
  top: 60px;
  right: 50px;
}

.search .back-btn a {
  margin-right: 10px;
  text-align: right;
  padding-right: 2em;
  /*
            background: #e9537d;
             */
  color: #fff;
  display: block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 1.6rem;
  position: relative;
  z-index: 0;
}

.search .back-btn a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ea537e;
  top: 0;
  left: 0;
  z-index: -1;
}

.search .back-btn a i {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.search .back-btn a i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}

.search .back-btn a i:after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  background: #fff;
  margin-top: -3px;
}

.search .back-btn a:hover {
  color: #ea537e;
  -webkit-box-shadow: 0px 0px 0px 1px #ea537e inset;
          box-shadow: 0px 0px 0px 1px #ea537e inset;
}

.search .back-btn a:hover:after {
  width: 0;
}

.search .back-btn a:hover i {
  left: -5px;
}

.search .back-btn a:hover i:before, .search .back-btn a:hover i:after {
  background: #ea537e;
}

.search .pager {
  text-align: center;
  margin-top: 18px;
}

.search .pager li {
  display: inline-block;
}

.search .pager li + li {
  margin-left: 5px;
}

.search .pager li a,
.search .pager li span {
  width: 36px;
  height: 36px;
  text-align: center;
  display: block;
  margin: 0 3px;
  /*
                padding: 0 10px;
                 */
  font-size: 1.6rem;
  line-height: 36px;
  border-radius: 50%;
  background: #e9537d;
  color: #fff;
}

.search .pager li a.prev, .search .pager li a.next,
.search .pager li span.prev,
.search .pager li span.next {
  background: none;
  width: 110px;
  border-radius: 0;
  position: relative;
  z-index: 0;
}

.search .pager li a.prev:after, .search .pager li a.next:after,
.search .pager li span.prev:after,
.search .pager li span.next:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ea537e;
  top: 0;
  left: 0;
  z-index: -1;
}

.search .pager li a.prev,
.search .pager li span.prev {
  margin-right: 10px;
  text-align: right;
  padding-right: 1em;
}

.search .pager li a.prev i,
.search .pager li span.prev i {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

.search .pager li a.prev i:before,
.search .pager li span.prev i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}

.search .pager li a.prev i:after,
.search .pager li span.prev i:after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  background: #fff;
  margin-top: -3px;
}

.search .pager li a.prev:hover,
.search .pager li span.prev:hover {
  color: #ea537e;
  -webkit-box-shadow: 0px 0px 0px 1px #ea537e inset;
          box-shadow: 0px 0px 0px 1px #ea537e inset;
}

.search .pager li a.prev:hover:after,
.search .pager li span.prev:hover:after {
  width: 0;
}

.search .pager li a.prev:hover i,
.search .pager li span.prev:hover i {
  left: -5px;
}

.search .pager li a.prev:hover i:before, .search .pager li a.prev:hover i:after,
.search .pager li span.prev:hover i:before,
.search .pager li span.prev:hover i:after {
  background: #ea537e;
}

.search .pager li a.next,
.search .pager li span.next {
  margin-left: 10px;
  text-align: left;
  padding-left: 1em;
}

.search .pager li a.next i,
.search .pager li span.next i {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

.search .pager li a.next i:before,
.search .pager li span.next i:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}

.search .pager li a.next i:after,
.search .pager li span.next i:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background: #fff;
  margin-top: -3px;
}

.search .pager li a.next:hover,
.search .pager li span.next:hover {
  color: #ea537e;
  -webkit-box-shadow: 0px 0px 0px 1px #ea537e inset;
          box-shadow: 0px 0px 0px 1px #ea537e inset;
}

.search .pager li a.next:hover:after,
.search .pager li span.next:hover:after {
  width: 0;
}

.search .pager li a.next:hover i,
.search .pager li span.next:hover i {
  right: -5px;
}

.search .pager li a.next:hover i:before, .search .pager li a.next:hover i:after,
.search .pager li span.next:hover i:before,
.search .pager li span.next:hover i:after {
  background: #ea537e;
}

.search .pager li span {
  background: #f8f6f6;
  color: #e9537d;
}

.search .result {
  padding: 30px 0;
}

.search .result section {
  font-size: 1.6rem;
  line-height: 1.7;
  overflow: hidden;
  position: relative;
  padding: 15px 0 25px;
  border-bottom: 1px solid #fce5e8;
}

.search .result section + section {
  margin-top: 10px;
}

.search .result section a {
  color: #e9537d;
}

.search .result section p.tel {
  position: absolute;
  top: 30px;
  left: 73%;
  /*
                width: 12.783505%;
                max-width: 124px;
                */
}

.search .result section p.tel a {
  color: #000;
}

.search .result section .detail {
  width: 11.340206%;
  max-width: 110px;
  height: 36px;
  position: absolute;
  top: 25px;
  right: 13px;
}

.search .result section .detail a {
  /*
                    background: #e9537d;
                     */
  color: #fff;
  display: block;
  height: 36px;
  line-height: 36px;
  padding-left: 1em;
  position: relative;
  z-index: 0;
}

.search .result section .detail a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ea537e;
  top: 0;
  left: 0;
  z-index: -1;
}

.search .result section .detail a i {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

.search .result section .detail a i:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 20px;
  height: 1px;
  background: #fff;
}

.search .result section .detail a i:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 50%;
  width: 9px;
  height: 1px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background: #fff;
  margin-top: -3px;
}

.search .result section .detail a:hover {
  color: #ea537e;
  -webkit-box-shadow: 0px 0px 0px 1px #ea537e inset;
          box-shadow: 0px 0px 0px 1px #ea537e inset;
}

.search .result section .detail a:hover:after {
  width: 0;
}

.search .result section .detail a:hover i {
  right: -5px;
}

.search .result section .detail a:hover i:before, .search .result section .detail a:hover i:after {
  background: #ea537e;
}

@media screen and (max-width: 768px) {
  .search {
    padding: 30px 22px;
  }
  .search h2 {
    font-size: 1.6rem;
    line-height: 30px;
  }
  .search .back-btn {
    top: 30px;
    right: 22px;
  }
  .search .back-btn a {
    padding-right: 1em;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
  }
  .search .pager-box {
    position: relative;
    padding-bottom: 50px;
  }
  .search .pager li a,
  .search .pager li span {
    width: 28px;
    height: 28px;
    font-size: 1.3rem;
    line-height: 28px;
  }
  .search .pager li a.prev, .search .pager li a.next,
  .search .pager li span.prev,
  .search .pager li span.next {
    width: 80px;
    border-radius: 0;
    position: absolute;
  }
  .search .pager li a.prev,
  .search .pager li span.prev {
    /*
                        float: left;
                         */
    bottom: 0;
    left: 0;
    margin-right: 10px;
    text-align: right;
    padding-right: 1em;
  }
  .search .pager li a.prev i:before,
  .search .pager li span.prev i:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    width: 20px;
    height: 1px;
    background: #fff;
  }
  .search .pager li a.prev i:after,
  .search .pager li span.prev i:after {
    content: "";
    position: absolute;
    left: 13px;
    top: 50%;
    width: 9px;
    height: 1px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    background: #fff;
    margin-top: -3px;
  }
  .search .pager li a.next,
  .search .pager li span.next {
    /*
                        float: right;
                         */
    bottom: 0;
    right: 0;
    margin-left: 10px;
    text-align: left;
    padding-left: 1em;
  }
  .search .pager li a.next i:before,
  .search .pager li span.next i:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 20px;
    height: 1px;
    background: #fff;
  }
  .search .pager li a.next i:after,
  .search .pager li span.next i:after {
    content: "";
    position: absolute;
    right: 13px;
    top: 50%;
    width: 9px;
    height: 1px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    background: #fff;
    margin-top: -3px;
  }
  .search .result {
    padding: 20px 0;
  }
  .search .result section {
    font-size: 1.3rem;
  }
  .search .result section a {
    text-decoration: underline;
  }
  .search .result section p.tel {
    position: relative;
    top: inherit;
    left: inherit;
  }
  .search .result section .detail {
    position: relative;
    top: inherit;
    right: inherit;
    width: 100%;
    max-width: none;
    text-align: right;
  }
  .search .result section .detail a {
    width: 30%;
    display: inline-block;
    position: relative;
    text-align: left;
  }
}
/*# sourceMappingURL=shop.css.map */