#main {
  img {
    max-width: 100%;
  }
  .main-box {
    padding-top: 0;
  }
  @media screen and (max-width: 768px) {
    .heading01 {
      margin: 120px 12px 50px;
    }
  }

  .btn-area {
    .detail__btn {
      margin-top: 10px;
      a {
        margin: 0;
        max-width: 240px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .btn-area {
      .detail__btn {
        margin-top: 0;
        max-width: 200px;
        a {
          font-size: 1.3rem;
          max-width: 100%;
          line-height: 36px;
        }
      }
    }
  }

  .product-nav {
    margin: 60px auto 40px;
    &-list {
      text-align: center;
      li {
        display: inline-block;
        padding: 0 25px;
        a {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .product-nav {
      margin: 40px auto 0;
      &-list {
        li {
          display: block;
          padding: 0 0 15px;
          img {
            width: auto;
            height: 15px;
          }
        }
      }
    }
  }

  .product-item {
    position: relative;
    margin-bottom: 100px;
    @media screen and (max-width: 768px) {
      margin-bottom: 70px;
    }

    // cont
    &-cont {
      max-width: 1180px;
      padding-top: 50px;
      position: relative;
      @media screen and (max-width: 768px) {
        padding-top: 45px;
      }
    }
    &-img {
      width: 53%;
      position: absolute;
      left: 0;
      top: 50px;
      z-index: 1;
      img {
        width: 100%;
        height: auto;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        top: 0;
      }
    }
    &-txt {
      width: 40%;
      padding-top: 20px;
      margin-left: 60%;
      position: relative;
      z-index: 2;

      .copy {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 4px;
      }
      .text {
        font-size: 20px;
        line-height: 2.2;
        margin-top: 10px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-top: -100px;

        .copy {
          font-size: 28px;
        }
        .text {
          font-size: 14px;
          line-height: 2;
        }
      }
    }
    &-ttl {
      img {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
    &-main {
      margin-top: 100px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 30px 0 0 auto;
      }
      &-inner {
        width: 50%;
        float: left;
        &:first-child {
          padding-right: 24px;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          float: none;
          &:first-child {
            padding-right: 0;
            padding-bottom: 20px;
          }
        }
      }
    }
    &-name {
      font-size: 2rem;
      span {
        font-weight: normal;
        &.min {
          font-size: 1.5rem;
          @media screen and (max-width: 768px) {
            font-size: 1.1rem;
          }
        }
      }
      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
    &-price {
      font-size: 3.6rem;
      color: #e9537d;
      font-weight: bold;
      letter-spacing: 0.06em;
      span {
        font-size: 1.6rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }

    &-blackplus {
      &::before {
        content: "";
        width: 50%;
        height: 500px;
        background: #fbe5e8;
        position: absolute;
        z-index: -1;
        left: 0;
        @media screen and (max-width: 768px) {
          width: 80%;
          height: 270px;
        }
      }
    }
    &-professional {
      &::before {
        content: "";
        width: 50%;
        height: 500px;
        background: #f2f2f2;
        position: absolute;
        z-index: -1;
        left: 0;
        @media screen and (max-width: 768px) {
          width: 80%;
          height: 270px;
        }
      }
    }

    // detail
    &-detail {
      margin-top: 120px;
      @media screen and (max-width: 768px) {
        margin-top: 70px;
      }
      &-ttl {
        margin: 0 auto 30px;
        text-align: center;
        @media screen and (max-width: 768px) {
          margin: 0 auto 20px;
        }
        img {
          text-align: center;
          margin: 0 auto;
        }
      }
      &-cont {
        max-width: 855px;
        margin: 0 auto;
        position: relative;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto 25px;
        position: relative;
        @media screen and (max-width: 768px) {
          margin: 0 auto 0;
        }
      }
      &-wrap {
        margin: 0 auto;
        text-align: center;
        div {
          &:first-child {
            /*
            margin-bottom: 30px;
             */
          }
          &:nth-child(2) {
            /*
            margin-bottom: 20px;
             */
          }
        }
        img {
          text-align: center;
          margin: 0 auto;
        }

        &.kit {
          width: 677px;
          li {
            float: left;
            width: 31.9%;
            padding-right: 0.5em;
            position: relative;

            /*
            &:last-child {
              padding-right: 0;
            }
            */

            + li {
              margin-left: 2%;
              /*
              padding-left: 20px;
               */

              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -14px;
                width: 20px;
                height: 100%;
                background: url(../img/product/starter-kit/img-pic_kit_arrow.png) no-repeat left top;
                -webkit-background-size: 100%;
                background-size: 100%;
              }
            }

            p {
              text-align: left;
              font-size: 15px;
              line-height: 2;
            }
          }

          @media screen and (max-width: 768px) {
            width: 100%;

            li {
              float: none;
              width: 100%;
              clear: both;

              + li {
                margin-left: 0;
                padding-top: 20px;

                &:before {
                  content: "";
                  position: absolute;
                  top: 10px;
                  left: 0px;
                  width: 100%;
                  height: 13px;
                  background: url(../img/product/starter-kit/img-pic_kit_arrow_sp.png) no-repeat left top;
                  -webkit-background-size: 100%;
                  background-size: 100%;
                }
              }

              figure {
                float: left;
                width: 35%;
              }
              p {
                float: right;
                width: 55%;
                margin-top: 2em;
              }
            }
          }
        }

        .es-box {
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          padding: 0 40px;

          @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
            padding: 0;
          }

          .box {
            width: 28%;
            max-width: 280px;
            border: solid 2px #ea537e;
            position: relative;

            @media screen and (max-width: 768px) {
              width: 100%;
              max-width: none;
            }

            + .box {
              @media screen and (max-width: 768px) {
                margin-top: 50px;
              }

              &:before,
              &:after {
                content: "";
                position: absolute;
                left: -77px;
                top: 50%;
                width: 70px;
                height: 3px;
                background: #ea537e;

                @media screen and (max-width: 768px) {
                  width: 50px;
                  height: 2px;
                  left: calc(50% - 25px);
                  top: -28px;
                }
              }

              &:before {
                transform: rotate(45deg);
              }

              &:after {
                transform: rotate(-45deg);
              }
            }

            .product-item-detail-list {
              justify-content: left;
              padding: 7px 0px 7px 4px;
              margin-bottom: 0;

              @media screen and (max-width: 768px) {
                justify-content: center;
              }
            }

            .product-item-detail-min-img {
              /*
              display: inline-block;
               */
              float: left;
              padding: 0 4px;

              @media screen and (max-width: 768px) {
                float: none;
                margin-bottom: 0;
              }

              @media screen and (min-width: 768px) {
                &.side {
                  display: table;
                  width: 100%;

                  /*
                  @media screen and (max-width: 768px) {
                    display: inline-block;
                    width: auto;
                  }
                  */

                  figure {
                    display: table-cell;
                    text-align: left;
                    width: 141px;
                    padding-right: 15px;

                    /*
                    @media screen and (max-width: 768px) {
                      display: block;
                      width: inherit;
                      padding-right: 0;
                    }
                    */
                  }
                  p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;

                    /*
                    @media screen and (max-width: 768px) {
                      display: inline-block;
                      text-align: center;
                    }
                    */
                  }
                }
              }

              .copy {
                color: #ea537e;
              }
            }

            header {
              background: #ea537e;
              color: #fff;
              height: 62px;
              font-size: 20px;
              line-height: 1.3;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              @media screen and (max-width: 768px) {
                height: 32px;
                font-size: 16px;
                flex-direction: unset;
              }

              span {
                display: block;
                font-size: 15px;

                @media screen and (max-width: 768px) {
                  display: inline-block;
                  font-size: 12px;
                  margin-left: 1em;
                }
              }
            }
          }
        }
      }
      &-txt {
        img {
          margin: 5px 0 24px;
        }
        @media screen and (max-width: 768px) {
          text-align: center;
          img {
            margin: 5px auto 20px;
            text-align: center;
          }
        }
      }
      &-img {
        width: 286px;
        position: absolute;
        z-index: -1;
        right: -30px;
        top: -10px;
        @media screen and (max-width: 768px) {
          width: 60%;
          text-align: center;
          margin: 0 auto -20px;
          position: relative;
          right: 0;
        }
      }
      &-min-img {
        padding: 0 12px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.46;
        @media screen and (max-width: 768px) {
          width: 33%;
          padding: 0 6px;
          margin-bottom: 20px;
        }
        p {
          padding: 10px 0;
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }

        /**/
        &.d-side {
          display: table;
          /*
          width: 100%;
           */

          @media screen and (max-width: 768px) {
            width: 50%;
          }

          figure {
            display: table-cell;
            text-align: left;
            width: 141px;
            padding-right: 15px;

            @media screen and (max-width: 768px) {
              width: 62%;
              padding-right: 10px;
            }
          }
          p {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
          }
        }
        /**/
      }
      &-caution {
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
        &-conditioner {
          margin: 0 auto;
          text-align: center;
          @media screen and (max-width: 768px) {
            width: 80%;
          }
        }
      }
    }

    // other
    &-other {
      background: #fef6f6;
      margin: 40px auto 0;
      padding: 50px 0;
      text-align: center;
      z-index: 10;
      @media screen and (max-width: 768px) {
        padding: 30px 0 0;
        margin: 40px 12px 0;
        width: auto;
      }
      &-one {
        max-width: 902px;
        margin-top: 40px !important;
        @media screen and (max-width: 768px) {
          margin-top: 20px !important;
        }
      }
      &-two {
        max-width: 1100px;
        margin-top: 40px !important;
      }
      &-list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px) {
          display: block;
        }
        li {
          text-align: left;
          display: flex;
          align-items: flex-end;
          padding: 0 9px;
          width: 45%;
          @media screen and (max-width: 768px) {
            padding: 0 0 30px;
            width: 100%;
          }
        }
      }
      &-img {
        width: 117px;
        @media screen and (max-width: 768px) {
          width: 70px;
        }
      }
      &-txt {
        padding-left: 24px;
        @media screen and (max-width: 768px) {
          padding-left: 18px;
          width: calc(100% - 70px);
        }
      }
      &-name {
        font-size: 2rem;
        font-weight: bold;
        span {
          font-weight: normal;
        }
        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
        }
      }
      &-price {
        font-size: 3.6rem;
        color: #e9537d;
        font-weight: bold;
        letter-spacing: 0.06em;
        span {
          font-size: 1.6rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 3rem;
          span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  // type01
  .product-item-type01 {
    .product-item-img {
      left: 9.5%;
      width: 48%;
      @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;
      }
    }

    .product-item-detail-cont {
      .text01 {
        font-size: 20px;
        max-width: 575px;
        margin-bottom: 24px;
        @media screen and (max-width: 768px) {
          font-size: 11px;
          text-align: left;
          max-width: none;
          margin-bottom: 12px;
        }
      }
    }

    .product-item-detail-caution {
      max-width: 855px;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        padding: 0 20px;
      }
      .cap {
        font-size: 10px;
        text-align: left;
      }
    }
  }

  // type02
  .product-item-type02 {
    &.product-item-blackplus {
      &::before {
        content: "";
        width: 50%;
        height: 500px;
        background: #fbe5e8;
        position: absolute;
        z-index: -1;
        left: inherit;
        right: 0;
        @media screen and (max-width: 768px) {
          width: 80%;
          height: 270px;
        }
      }
    }
    &.product-item-professional {
      &::before {
        content: "";
        width: 50%;
        height: 500px;
        background: #f2f2f2;
        position: absolute;
        z-index: -1;
        left: inherit;
        right: 0;
        @media screen and (max-width: 768px) {
          width: 77%;
          height: 270px;
        }
      }
    }
    .product-item-img {
      left: inherit;
      right: 9.5%;
      width: 48%;
      @media screen and (max-width: 768px) {
        right: 0;
        width: 100%;
      }
    }
    .product-item-txt {
      margin-left: 0;
      margin-top: -50px;
      @media screen and (max-width: 768px) {
        margin-top: -100px;
      }
    }

    .product-item-main {
      margin-left: 0;
      margin-top: 40px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
    .product-item-ttl {
      .copy {
        font-size: 31px;
        letter-spacing: normal;
        line-height: 2;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      .text {
        font-size: 15px;
        line-height: 1.7;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
          font-size: 11px;
          line-height: 1.6;
        }
      }
    }

    .product-item-detail {
      margin-top: 70px;
    }

    .product-item-detail-caution {
      max-width: 855px;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        padding: 0 20px;
      }
      .cap {
        font-size: 10px;
        text-align: center;
        @media screen and (max-width: 768px) {
          text-align: left;
        }
      }
    }
  }

  // type03
  .product-item-type03 {
    .product-item-cont {
      padding: 0;
      @media screen and (max-width: 768px) {
        padding: 50px 12px 0;
      }
    }
    .product-item-img {
      width: 50.8%;
      left: 4%;

      @media screen and (max-width: 768px) {
        width: 100%;
        left: 0;
      }
    }
    .product-item-txt {
      padding-top: 0;
      width: 44%;
      margin-left: 56%;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
      }
    }
    .product-item-main {
      margin-top: 40px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
        margin-left: 0;
      }
    }
    @media screen and (max-width: 768px) {
      .product-item-ttl {
        img:nth-child(3) {
          width: 50%;
          margin-top: -10px;
        }
      }
    }

    .product-item-ttl {
      .copy {
      }
      .text {
        font-size: 18px;
        @media screen and (max-width: 768px) {
          font-size: 11px;
        }
      }
    }

    .product-item-detail-caution {
      max-width: 490px;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        padding: 0 20px;
      }
      .cap {
        font-size: 10px;
        text-align: left;
      }
    }

    .icon_rakuten {
      &.icon_rakuten190416 {
        top: -27%;
        left: 4%;
        @media screen and (max-width: 768px) {
          top: -4%;
          left: 6%;
        }
      }
      &.icon_rakuten190417 {
        top: -27%;
        left: 18%;
        @media screen and (max-width: 768px) {
          top: -4%;
          left: 32%;
        }
      }
    }
  }

  // type04
  .product-item-type04 {
    .product-item-img {
      left: 13%;
      width: 48%;
      max-width: 512px;
      @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;
        max-width: none;
      }
    }
    .product-item-txt {
      padding-top: 0;
    }
    .product-item-main {
      margin-top: 0;
    }

    &#shampoo {
      .product-item-detail {
        margin-top: 70px;
      }
      .product-item-detail-caution {
        .cap {
          @media screen and (max-width: 768px) {
            text-align: left;
          }
        }
      }
    }

    &#essence {
      .product-item {
        &-txt {
          @media screen and (max-width: 768px) {
            margin-top: -50px;
          }
        }
      }

      .product-item-ttl {
        .copy {
          font-size: 35px;
          letter-spacing: normal;
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
        }
        .text {
          font-size: 15px;
          @media screen and (max-width: 768px) {
            font-size: 11px;
          }
        }
      }

      .product-item-detail-caution {
        .cap {
          @media screen and (max-width: 768px) {
            text-align: left;
          }
        }
      }
    }

    /*
    .icon_rakuten {
      top: 48%;
      left: 30.5%;
      @media screen and (max-width: 768px) {
        top: 20%;
        left: 43.5%;
      }
    }

    &#essence {
      .icon_rakuten {
        top: 53%;
        left: 33.5%;
        @media screen and (max-width: 768px) {
          top: 22%;
          left: 44.5%;
        }
      }
    }
    */
  }

  // type05
  .product-item-type05 {
    .product-item-img {
      left: 2%;
      width: 53%;
      @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;
      }
    }
    .product-item-txt {
      padding-top: 0;
      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
    @media screen and (max-width: 768px) {
      .product-item-ttl {
        width: 100%;
      }
    }
    .product-item-main {
      margin-top: 0;
    }
    .product-item-detail {
      margin-top: 50px;
    }

    .product-item-ttl {
      .copy {
        font-size: 31px;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      .text {
        font-size: 15px;
        line-height: 1.7;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
          font-size: 11px;
        }
      }
    }

    .product-item-detail-caution,
    .product-item-detail-caution-conditioner {
      .cap {
        @media screen and (max-width: 768px) {
          text-align: left;
        }
      }
    }

    /*
    .icon_rakuten {
      top: 47%;
      left: 40.5%;

      @media screen and (max-width: 768px) {
        top: 24%;
        left: 68.5%;
      }
    }
    */
  }

  // step
  .product-step {
    max-width: 1100px;
    margin: 0 auto 90px;
    text-align: center;
    @media screen and (max-width: 768px) {
      padding: 0 12px;
    }
    &-ttl {
      margin-bottom: 35px;
      font-size: 40px;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-size: 27px;
      }

      span {
        color: #ea537e;
      }
    }

    &-img {
      margin: -40px auto 0;
      position: relative;
      text-align: center;
      img {
        text-align: center;
        margin: 0 auto;
      }
      @media screen and (max-width: 768px) {
        margin-top: -10px;
      }
      &:first-child {
        margin-top: 0;
        z-index: 3;
      }
      &:nth-child(2) {
        z-index: 2;
      }
      &:nth-child(3) {
        z-index: 1;
      }
    }
  }

  // line up
  .line-up {
    position: relative;
    z-index: 0;
    margin-bottom: 110px;
    @media only screen and (min-width: 768px) and (max-width: 1240px) {
      margin-bottom: 180px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
    &:before {
      content: "";
      width: 1100px;
      height: 680px;
      background: #fef6f6;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 768px) {
        height: 100%;
      }
    }
    &-ttl {
      width: 195px;
      padding-top: 90px;
      margin: 0 auto 30px;
      @media screen and (max-width: 768px) {
        width: 98%;
        padding-top: 15%;
      }
    }
    &-slider {
      z-index: 1;
      max-width: 1150px;
      margin: 0 auto;
      .prev {
        position: absolute;
        z-index: 1;
        top: 38%;
        left: -65px;
        width: 60px;
        height: 48px;
        text-indent: -9999px;
        /*
        background-color: #ea537e;
        background-image: url(/assets/img/product/ico_prev.png);
        background-repeat: no-repeat;
        background-position: center 49%;
        background-size: 22px 7px;
        */
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
        @media only screen and (min-width: 768px) and (max-width: 1240px) {
          /*
          top: 100% !important;
           */
          left: 0;
        }
        @media screen and (max-width: 768px) {
          top: 190px;
          left: 0;
          width: 40px;
          height: 34px;
          background-position: center 45%;
          background-size: 15px 6px;
        }

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #ea537e;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &:after {
          content: "";
          position: absolute;
          background-image: url(/assets/img/product/ico_prev.png);
          background-repeat: no-repeat;
          background-position: center 49%;
          background-size: 22px 7px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 22px;
          height: 7px;
          /*
          z-index: -1;
           */
        }

        &:hover {
          box-shadow: 0px 0px 0px 1px #ea537e inset;
          &:before {
            width: 0;
          }
          &:after {
            background-image: url(/assets/img/product/ico_prev_on.png);
          }
        }
      }
      .next {
        position: absolute;
        z-index: 1;
        top: 38%;
        right: -65px;
        width: 60px;
        height: 48px;
        text-indent: -9999px;
        /*
        background-color: #ea537e;
         */
        /*
        background-image: url(/assets/img/product/ico_next.png);
        background-repeat: no-repeat;
        background-position: center 49%;
        background-size: 22px 7px;
        */
        cursor: pointer;
        @media only screen and (min-width: 768px) and (max-width: 1240px) {
          /*
          top: 100% !important;
           */
          right: 0;
        }
        @media screen and (max-width: 768px) {
          top: 190px;
          right: 0;
          width: 40px;
          height: 34px;
          background-position: center 45%;
          background-size: 15px 6px;
        }
        &:hover {
          opacity: 0.7;
        }

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #ea537e;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &:after {
          content: "";
          position: absolute;
          background-image: url(/assets/img/product/ico_next.png);
          background-repeat: no-repeat;
          background-position: center 49%;
          background-size: 22px 7px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 22px;
          height: 7px;
          /*
          z-index: -1;
           */
        }

        &:hover {
          box-shadow: 0px 0px 0px 1px #ea537e inset;
          &:before {
            width: 0;
          }
          &:after {
            background-image: url(/assets/img/product/ico_next_on.png);
          }
        }
      }

      &-list {
        display: flex;
        margin-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
          margin-left: 40px;
          padding-right: 40px;
          height: 100% !important;
        }
      }
      &-item {
        margin-bottom: 50px;
        padding: 30px 15px 55px;
        position: relative;
        box-shadow: 10px 10px 10px rgba(144, 69, 72, 0.1);

        /*
        .icon_rakuten {
          top: 4%;
          left: inherit;
          right: 5%;
          @media screen and (max-width: 768px) {
            top: 3%;
            right: 3%;
            width: 30%;
          }
        }
        */
      }
      &-number {
        position: absolute;
        top: 31px;
        left: -11px;
        @media screen and (max-width: 768px) {
          left: -22px;
        }
      }
      &-img {
        margin: 41px 0 20px;
      }
      &-name {
        .name {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          line-height: 1.8;
          span {
            font-weight: normal;
          }
        }
      }
      &-btn {
        position: absolute;
        bottom: -25px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 71.428571%;
        max-width: 240px;
        @media screen and (max-width: 768px) {
          width: 87%;
          max-width: 87%;
        }
        .detail__btn {
          margin-top: 10px;
          a {
            margin: 0;
            max-width: 240px;
            @media screen and (max-width: 768px) {
              line-height: 50px;
              padding-left: 1.2em;
              width: 100%;
              max-width: none;
              /*
              font-size: 1.3rem;
               */
            }
          }
        }
      }
    }
  }
}
